.shopping-bag  i{
    font-size: 18px;
    color: white;
    
}
.shopping-bag  a{
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.shopping-bag a:hover{
    color: #ed1c24;
}
.shopping-bag i:hover{
    color: #ed1c24;
}
@media only screen and (min-width: 992px)
{
    .shopping-bag  {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
    }
}
.shopping-bag{
    margin-left: 0px;
}
.table{
    border: 1px rgb(126, 124, 124) solid;
}

@media only screen and (min-width: 1200px)
{
    .header-upper-up{
        visibility: visible;
    }
}
@media only screen and (max-width: 1200px)
{
    .header-upper-up{
        visibility: visible;
    }
}
.menu-header-social-media{
    margin-left: 800px;
}
.shopping-bag{
    padding: 12px;
    margin-left: 30px;
}

