.shopping-bag  i{
    font-size: 18px;
    color: white;
    
}
.shopping-bag  a{
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.shopping-bag a:hover{
    color: #ed1c24;
}
.shopping-bag i:hover{
    color: #ed1c24;
}
@media only screen and (min-width: 992px)
{
    .shopping-bag  {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
    }
}
.shopping-bag{
    margin-left: 0px;
}
.table{
    border: 1px rgb(126, 124, 124) solid;
}

.waitingForConnection {
    animation: blinker 0.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
  }
@keyframes blinker { to { opacity: 0;
color: red; } }
.copyright-text-right p{
    color: white;
}
